@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap%27');
/* INÍCIO SECTION E */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    width: 100vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 100; 
}
.sectionE {
    background: linear-gradient(to bottom, #003366 0%, #B02CE8 100%);
    height: 100vh;
    width: 100vw;    
    color: white;
}
.divPrincipal {
    width: 100vw;
    height: 100vh;
    padding-top: 3%;
}
.div1 {
    width: 100vw;
    display: flex;
    align-items: center;

}
.div2 {
    height: 15vh;
    width: 20VW;
    margin-left: 80%;
}
.titulo{
    color: white;
    font-size: 16px;
    font-weight: 500;
    margin-left: 81%;
    
}
.detalhe{
    width: 50px;
    height: 3px;
    margin-left: 1%;
    background-color: #B02CE8;
}
.paragrafo{
    color: white;
    font-size: 22px;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 8%;
    text-align: right;

}
.container {
    width: 100%;
    height: 70%;
    display: flex;
}
.divTexto {
    width: 50%;
    height: 60%;

}
.texto {
    color: whitesmoke;
    font-size: 20px;
    margin-top: 5vh;
    font-weight: 400;
    line-height:20px;
    text-align: right; 
    padding-right: 9%;
}
.divimg {
    width: 50%;
    
}
.img1 {
    width: 80%; 
    height: 80%;
    margin-left: 6%;
}

/*INÍCIO SECTION F */

.sectionF {
    background-color: black;
    width: 100vw;
    height: 100vh;
    font-size: 10px;
    align-items: center;
    padding-top: 8%;
}

.banner {
    display: flex;
    align-items: center;
    background-color: white;
    width: 85%;
    height: 90%;
    margin: auto;
    
}
.forms {
    width: 60%;
    height: 100%;
    align-items: center;
}
.title1 {
    padding-top:25vh;
    padding-left: 5%;
    padding-bottom: 5%;
    color: black;
    font-size: 25px;
    font-weight: 900;
}
.title2 {
    padding-top:5% ;
    padding-left: 8%;
    padding-bottom: 5%;
    color: black;
    font-size: 20px;
    font-weight: 800;

}
.perguntas {
    font-size: 18px;
    padding-left: 5%;
    color: gray;
}

#in_tempo {
    margin-left:8%;
    padding-left: 8%;
    border-radius: 10px;
    border: #B02CE8 solid 2px;
    background-color:lavender ;
    width: 25vw;
    height: 6vh;
    color:black;
    font-weight: 800;
    font-size: 15px;
}
#in_consulta {
    margin-left:8%;
    padding-left: 8%;
    border-radius: 10px;
    border: #B02CE8 solid 2px;
    background-color: lavender;
    width: 25vw;
    height: 6vh;
    color: black;
    font-weight: 800;
    font-size: 15px;
}
.btn {
    margin-left: 15%;
    margin-top: 5%;
    width: 15vw;
    height: 6.5vh;
    border-radius: 10px;
    background:linear-gradient(to bottom, #003366 0%, #b02ce8 100%);
    color: white;
    font-size: 15px;
}
.resultado {
    width: 40%;
    height: 100%;

}
#div_resultado1 {
    margin-top: 10px;
    font-size: 15px;
    font-weight: 800;
    color:#003366;
}
#div_resultado2 {
    font-size: 15px;
    font-weight: 800;
    color:#003366
}
#div_resultado3 {
    font-size: 20px;
    font-weight: 800;
    color:#b02ce8;
}