
 
 .sectionc{
     height: 100vh;
     justify-content: center;
     align-items: center;
     padding-left: 2%;
     padding-right: 2%;
     display: flex;
    background-image: linear-gradient(to bottom, rgb(24, 24, 109),rgb(179, 67, 179)
    );
}

.container {
    background-color: red;
    display: flex;
    width: 100%;
    height: 70vh;
    padding: 6%;
}

.titulo {
    color: aliceblue;
    font-size: 80px;
    background-color: blue;
   height: 80px;
}

.texto {
    display: flex;
    color: aliceblue;
    font-size: 35px;
    background-color: green;
    height: 350px;
    width: 50%;
    margin-top: 7%;
}