@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap%27');


body {
	margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    width: 100vw;
    font-family: 'Poppins', sans-serif;
}

.sectionc{
     height: 100vh;
     justify-content: center;
     align-items: center;
     padding-left: 2%;
     padding-right: 2%;
     display: flex;
    background-image: linear-gradient(to bottom, #003366,#B02CE8)
}

.container {
    width: 100%;
    height: 70vh;
    padding: 6%;
}

.titulo {
    color: white;
    font-size: 40px;
    height: 80px;
    width: 50%;
    align-items: left;
}

.texto {
    color: white;
    font-size: 28px;
    height:400px;
    width: 63%;
    margin-top: 2%;
    margin-left: 2%;
}

.detalhe{
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}

.traco{
    width: 50px;
    height: 3px;
    background-color: white;
}

.img{
    width: 37%;
    margin-left: 20%;
}

.containertext{
    display: flex;
}

.texto .img{
    display: inline;
}
