/* comentar código */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    background-color: black;
    overflow-x: hidden;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 2%;
    width: 100%;
}

.container-box-menu {
    display: flex;
    gap: 3rem;
    width: 80vw;
    margin-left: 3%;
    padding-right: 5%;
}

.menu .logo {
    height: 50px;
    margin-left: 2%;
}

.btn_entrar {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: 2px solid white;
    color: white;
    font-size: 16px;
    height: 35px;
    width: 130px;
    font-weight: 400;
}

.btn_login {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: 2px solid white;
    color: white;
    font-size: 16px;
    height: 35px;
    width: 130px;
    font-weight: 400;
}

a {
    text-decoration: none;
    font-weight: 600;
    color: white;
    padding: 1%;
    width: 100px;
    margin-right: 2%;
    font-size: 18px;
}

.sectionA {
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background: rgba(0, 0, 0, 0.5) url('../assets/imgs/FundoHome.jpg');
    background-attachment: fixed;
    position: relative;
    background-size: cover;
    background-blend-mode: darken;
}

.container-txt {
    margin-top: 12%;
    margin-left: 5%;
}

#title-home {
    color: whitesmoke;
    font-weight: 300;
    font-size: 40px;
    font-weight: 800;
}

#txt-home {
    color: whitesmoke;
    font-size: 24px;
    margin-top: 10%;
    font-weight: 400;
}

#btn-sectionA {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: 2px solid white;
    color: white;
    font-size: 20px;
    height: 40px;
    width: 220px;
}


/*Css da section B*/
.conteudo1 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 5rem;
    padding-top: 5rem;
}

.titulo {
    color: white;
    font-size: 24px;
    font-weight: 400;
}

.paragrafro {
    color: white;
    font-size: 45px;
}

.conteudo2 {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 300px;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 8%;
    height: 100%;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 5%;
}

.card {
    display: flex;
    align-items: center;
    color: white;
    width: 25%;
    height: 100%;
    justify-content: center;
    perspective: 1000px;
}

.flipinner {
    display: flex;
    align-items: center;
    color: white;
    border: white solid 0.4px;
    width: 100%;
    height: 100%;
    justify-content: center;
    position: relative;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card:hover .flipinner {
    transform: rotateY(180deg);
}

.frontcard, .backcard {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}

.frontcard {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    border: white solid 0.4px;
    height: 100%;
    justify-content: center;
}

.backcard {
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    color: white;
    border: none;
    height: 100%;
    justify-content: center;
    width: 90%;
}


.detalhe-txt {
    display: flex;
    align-items: center;
    gap: 10px;
}

.detalhe {
    width: 50px;
    height: 3px;
    background-color: #B02CE8;
}

/*Rascunho SECTION C*/

.sectionc {
    margin-top: 5%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    background-image: linear-gradient(to bottom, #003366, #B02CE8)
}

.containerc {
    width: 100%;
    height: 90%;
    padding: 6%;
}

.tituloc {
    color: white;
    font-size: 40px;
    height: 80px;
    width: 50%;
    align-items: left;
}

.textoc {
    color: white;
    font-size: 20px;
    height: 300px;
    width: 63%;
    margin-top: 2%;
    margin-left: 2%;
}

.detalhec {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}

#title1 {
    font-size: 24px;
}

#title2 {
    font-size: 45px;
}

.tracoc {
    width: 50px;
    height: 3px;
    background-color: #B02CE8;
}

.imgc {
    width: 37%;
    margin-left: 20%;
}

.containertext {
    display: flex;
}

.texto .img {
    display: inline;
}

/*SECTION D*/

.sectiond {
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    background-color: black;
}

.containerd {
    width: 100%;
    height: 100%;
    padding-top: 8%;
    margin-bottom: 5%;
}

.titulod {
    color: white;
    font-size: 25px;
    height: 80px;
    width: 50%;
    align-items: left;

}

.detalhed {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}

.tracod {
    width: 50px;
    height: 3px;
    background-color: #B02CE8;
}

.flipinnerx {
    display: flex;
    align-items: center;
    color: white;
    border: white solid 0.4px;
    width: 100%;
    height: 100%;
    justify-content: center;
    position: relative;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.backcardx {
    transform: rotateX(180deg);
    display: flex;
    align-items: center;
    color: white;
    border: white solid 0.4px;
    height: 100%;
    width: 100%;
    justify-content: center;
    backface-visibility: hidden;

}

.card:hover .flipinnerx {
    transform: rotateX(180deg);
}

.fotos {
    height: 100%;
    width: 99.9%;
}

/*CSS Section E e F*/

/* INÍCIO SECTION E */

.sectionE {
    background: linear-gradient(to bottom, #003366 0%, #B02CE8 100%);
    height: 100%;
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 3%;
    color: white;
}

.divPrincipalE {
    width: 100%;
    height: 100%;
    padding-top: 3%;
    margin-bottom: 2%;
}

.div1E {
    gap: 10px;
    margin-top: 3%;
    display: flex;
    align-items: center;
    margin-left: 80%;
}

.div2E {
    height: 15%;
    width: 30%;
    margin-left: 70%;
}

.tituloE {
    color: white;
    font-size: 20px;
}

.detalheE {
    width: 50px;
    height: 3px;
    margin-left: 1%;
    background-color: #B02CE8;
}

.paragrafoE {
    color: white;
    font-size: 45px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 10%;
    text-align: right;

}

.containerE {
    width: 100%;
    height: 70%;
    display: flex;
}

.divTextoE {
    width: 60%;
    height: 60%;
    text-align: left;
    margin-top: 2%;
}

.textoE {
    color: whitesmoke;
    font-size: 20px;
    margin-top: 2%;
    margin-right: 9%;
    line-height: 25px;
    text-align: right;
}

.divimgE {
    width: 60%;
    margin-top: 5%;
}

.img1E {
    width: 70%;
    height: 70%;
    margin-left: 6%;
}

/*INÍCIO SECTION F */

.sectionF {
    background-color: black;
    width: 100vw;
    height: 100%;
    font-size: 10px;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.bannerF {
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    width: 85%;
    height: 90%;
    margin: auto;
}

.formsF {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 80vh;
    align-items: center;
}

.title1F {
    margin-top: 5%;
    color: black;
    font-size: 28px;
    font-weight: 800;
}

.title2F {
    margin-top: 5%;
    color: black;
    font-size: 20px;
    font-weight: 800;
}

.perguntas1 {
    font-size: 20px;
    color: black;
    font-weight: 600
}

.perguntas2 {
    font-size: 20px;
    color: black;
    font-weight: 600;
    margin-top: 5%;
}

#in_tempoF {
    border-radius: 5px;
    border: #B02CE8 solid 2px;
    background-color: rgb(219, 219, 219);
    width: 70%;
    height: 40px;
    color: black;
    font-weight: 400;
    font-size: 18px;
    padding-left: 2%;
    margin-top: 3%;
}

#in_consultaF {
    border-radius: 5px;
    border: #B02CE8 solid 2px;
    background-color: rgb(219, 219, 219);
    width: 70%;
    height: 40px;
    color: black;
    font-weight: 400;
    font-size: 18px;
    padding-left: 2%;
    margin-top: 3%;
}

.btnF {
    margin-top: 5%;
    width: 40%;
    height: 35px;
    color: white;
    font-weight: 800;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    border: none;
    text-align: center;
    padding: auto;
    border-radius: 5px;
    background-color: #B02CE8;
}

.resultadoF {
    width: 40%;
    height: 100%;

}

#div_resultado1 {
    margin-top: 10px;
    font-size: 15px;
    font-weight: 800;
    color: #003366;
}

#div_resultado2 {
    font-size: 15px;
    font-weight: 800;
    color: #003366
}

#div_resultado3 {
    font-size: 20px;
    font-weight: 800;
    color: #b02ce8;
}

/*Contato*/
.sectionContato {
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: black;
    width: 100%;
    height: 100%;
}

.bannerCont {
    display: flex;
    align-items: center;
    background-color: white;
    width: 85%;
    height: 90 vh;
    margin: auto;
}

.formsCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #003366;
    width: 50%;
    height: 100%;
    align-items: center;
}

#in_nome {
    border-radius: 5px;
    border: #B02CE8 solid 2px;
    background-color: rgb(219, 219, 219);
    width: 70%;
    height: 40px;
    color: black;
    font-weight: 400;
    font-size: 18px;
    padding-left: 2%;
    margin-top: 8%;
}

#in_email {
    border-radius: 5px;
    border: #B02CE8 solid 2px;
    background-color: rgb(219, 219, 219);
    width: 70%;
    height: 40px;
    color: black;
    font-weight: 400;
    font-size: 18px;
    padding-left: 2%;
    margin-top: 5%;
}

#in_tel {
    border-radius: 5px;
    border: #B02CE8 solid 2px;
    background-color: rgb(219, 219, 219);
    width: 70%;
    height: 40px;
    color: black;
    font-weight: 400;
    font-size: 18px;
    padding-left: 2%;
    margin-top: 5%;
}

#in_msg {
    border-radius: 5px;
    border: #B02CE8 solid 2px;
    background-color: rgb(219, 219, 219);
    width: 70%;
    height: 180px;
    color: black;
    font-weight: 400;
    font-size: 18px;
    padding-left: 2%;
    padding-bottom: 23%;
    margin-top: 5%;
}

#txt-contato {
    text-align: left;
    margin-top: 2%;
    font-size: 20px;
    font-weight: 600;
}

.btnCont {
    width: 40%;
    height: 35px;
    color: white;
    font-weight: 800;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    border: none;
    text-align: center;
    padding: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 5px;
    background-color: #B02CE8;
}

.textoCont {
    width: 42%;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    height: 100%;
}

.fraseCont {
    font-size: 45px;
}

.img3 {
    width: 100%;
    height: 100%;

}

/*Contato*/
.sectionContato {
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: black;
    width: 100%;
    height: 100%;
}

.bannerCont {
    display: flex;
    align-items: center;
    background-color: white;
    width: 85%;
    height: 90 vh;
    margin: auto;
}

.formsCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #003366;
    width: 50%;
    height: 100%;
    align-items: center;
}

#in_nome {
    border-radius: 5px;
    border: #B02CE8 solid 2px;
    background-color: rgb(219, 219, 219);
    width: 70%;
    height: 40px;
    color: black;
    font-weight: 400;
    font-size: 18px;
    padding-left: 2%;
    margin-top: 8%;
}

#in_email {
    border-radius: 5px;
    border: #B02CE8 solid 2px;
    background-color: rgb(219, 219, 219);
    width: 70%;
    height: 40px;
    color: black;
    font-weight: 400;
    font-size: 18px;
    padding-left: 2%;
    margin-top: 5%;
}

#in_tel {
    border-radius: 5px;
    border: #B02CE8 solid 2px;
    background-color: rgb(219, 219, 219);
    width: 70%;
    height: 40px;
    color: black;
    font-weight: 400;
    font-size: 18px;
    padding-left: 2%;
    margin-top: 5%;
}

#in_msg {
    border-radius: 5px;
    border: #B02CE8 solid 2px;
    background-color: rgb(219, 219, 219);
    width: 70%;
    height: 180px;
    color: black;
    font-weight: 400;
    font-size: 18px;
    padding-left: 2%;
    padding-bottom: 23%;
    margin-top: 5%;
}

#txt-contato {
    text-align: left;
    margin-top: 2%;
    font-size: 20px;
    font-weight: 600;
}

.btnCont {
    width: 40%;
    height: 35px;
    color: white;
    font-weight: 800;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    border: none;
    text-align: center;
    padding: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 5px;
    background-color: #B02CE8;
}

.textoCont {
    width: 42%;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    height: 100%;
}

.fraseCont {
    font-size: 45px;
}

.img3 {
    width: 100%;
    height: 100%;

}

/*SECTION G E H */
.bannerfinal {
    margin-top: 5%;
    width: 100%;
    height: 650px;
    justify-content: center;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    background: rgba(0, 0, 0, 0.5) url('../assets/imgs/cidade1.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    background-size: cover;
    background-blend-mode: darken;
}

.titulo1 {
    display: flex;
    color: black;
    font-size: 40px;
    height: 60px;
    width: 100%;
    margin-top: 8%;
    margin-left: 2%;
    align-items: center;
    text-align: center;
}

.titulo2 {
    display: flex;
    color: black;
    font-size: 40px;
    height: 60px;
    width: 100%;
    margin-top: 2%;
    margin-left: 22%;
    text-align: center;
}

.btn_projeto {
    margin-top: 45px;
    margin-left: 38.6%;
    margin-top: 35px;
    border: 2;
    font-weight: 550;
    background-color: transparent;
    color: black;
    font-size: 18px;
    border-radius: 2px;
    padding: 10px 15px;
    align-items: center;
}

.btn_volta {
    margin-top: 35px;
    margin-left: 2.3%;
    border: 2;
    font-weight: 550;
    background-color: transparent;
    color: white;
    font-size: 18px;
    border-radius: 2px;
    padding: 15px 15px;
    align-items: center
}

footer {
    position: bottom;
    background-color: #131313;
    color: white;
    width: 100%;
    height: 27%;
    text-align: center;
    line-height: 70px;
}

.titulo4 {
    display: flex;
    color: white;
    font-size: 14px;
    height: 50px;
    width: 24%;
    margin-top: -8%;
    margin-left: 0%;
    text-align: center;
    align-items: flex-start;
    line-height: 50px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 2%;
    width: 100%;
}

.opcoes {
    display: flex;
    gap: 3rem;

}

.menu .logo {
    height: 50px;
    margin-left: 2%;
}

.btn_entrar {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: 2px solid white;
    color: white;
    font-size: 16px;
    height: 35px;
    width: 130px;
    font-weight: 400;
}

.btn_login {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: 2px solid white;
    color: white;
    font-size: 16px;
    height: 35px;
    width: 130px;
    font-weight: 400;
}

a {
    text-decoration: none;
    font-weight: 600;
    color: white;
    padding: 1%;
    width: 100px;
    margin-right: 2%;
    font-size: 18px;
}

.sectionA {
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background: rgba(0, 0, 0, 0.5) url('../assets/imgs/FundoHome.jpg');
    background-attachment: fixed;
    position: relative;
    background-size: cover;
    background-blend-mode: darken;
}

.container-txt {
    margin-top: 8%;
    margin-left: 5%;
}

#title-home {
    color: whitesmoke;
    font-size: 40px;
    font-weight: 800;
}

#txt-home {
    color: whitesmoke;
    font-size: 24px;
    margin-top: 10%;
    font-weight: 400;
}

#btn-sectionA {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: 2px solid white;
    color: white;
    font-size: 20px;
    height: 40px;
    width: 220px;
}

.content-card {
    margin-top: 10%;
    width: 100%;
    height: 200px;
}

.icone {
    width: 100px;
    height: 100px;
    margin-top: 15%;
    align-items: center;
    fill: whitesmoke;
}

/*css do login*/

.section-Login {
    background-repeat: no-repeat;
    background: rgba(0, 0, 0, 0.5) url('../assets/imgs/FundoHome.jpg');
    background-attachment: fixed;
    position: relative;
    background-size: cover;
    background-blend-mode: darken;
}

.container-pagina {
    display: flex;
    align-items: center;
    justify-content: center;
}


.container-cad {
    width: 80%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    margin-top: 7%;
    margin-bottom: 10%;
    display: flex;
    align-items: center;
    flex-direction: row;
}


.container-login {
    width: 80%;
    height: 80vh;
    background-color: rgb(255, 255, 255);
    margin-top: 7%;
    margin-bottom: 10%;
    display: flex;
    align-items: center;
    flex-direction: row;
}


.logo2 {
    height: 50px;
    width: 50px;
    margin-top: 3%;
    margin-left: 3%;
}

.forms-login {
    width: 60%;
    height: 100%;
    background-color: #131313;
}

.img-login {
    width: 40%;
    height: 100%;
    background-color: #003851;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#title-login {
    margin-top: 10%;
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
    font-size: 28px;
    font-weight: 800;
}

#txt-login {
    margin-top: 10%;
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
    font-size: 18px;
    width: 90%;
    text-align: center;
}

.img-svg-login {
    width: 60%;
}

.img-svg {
    width: 60%;
    margin-top: 10%;
}

.formularioA {
    width: 100%;
    height: 40%;
    padding-top: 3%;
    padding-left: 3%;
}

.txt-form-login {
    color: white;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.in-form-login {
    margin-top: 2%;
    margin-bottom: 3%;
    padding-left: 3%;
    width: 95%;
    height: 35px;
    border-radius: 5px;
    border: 2px solid #B02CE8;
}

.formularioB {
    width: 100%;
    height: 5%;
    padding-left: 3%;
    display: flex;
    flex-direction: row;
}

#box-usuario {
    border: 2px solid #B02CE8;
    margin-top: 1%;
}

#Lembrar {
    margin-left: 2%;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 600;
}

#forgotPass {
    margin-left: 45%;
    color: rgb(33, 120, 179);
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 600;
}

.botao {
    margin-top: 5%;
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

#btn-login {
    width: 40%;
    height: 35px;
    color: white;
    font-weight: 800;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    border: none;
    text-align: center;
    padding: auto;
    border-radius: 5px;
    background-color: #B02CE8;
}

.formularioC {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#txt-1 {
    color: white;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    margin-left: 4%;
    width: 35%;
}

#txt-2 {
    font-size: 15px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    width: 80%;
    text-align: right;
    margin-right: 3%;
}

#link-txt {
    font-size: 15px;
    font-weight: 600;
    color: #2178B3;
    text-decoration: none;
}


/*CSS Dashboards: tempo real */


.dash{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #003366;
   }

.esquerda{
    width: 30%;
    height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    border-right: #B02CE8 solid 3px;
}

.direita{
    width: 70%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.div_grafico{
    width: 100%;
    background-color: #363636;
    border-radius: 15px;
}

.dash-title{
    color: white;
    display: flex;
    font-size: 32px;
    font-weight: 400;
    margin-top: 10%;
}

.button {
    color: whitesmoke;
    display: flex;
    align-items: center;
    color: whitesmoke;
    border: white solid 1px;
    border-radius: 10px;
    height: 100px;
    width: 40%;
    justify-content: center;
    margin-top: 15%;
    margin-bottom: 3%;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

.divisoria{
    display: flex;
    flex-direction: row;
}

.grafico-esq{
    margin-left: 20%;
}

.grafico-dir{
    margin-left: 20%;
}

.container-grafico{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.alertas{
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 30%;
    width: 100%;
    gap: 10%;
    padding: 8%;
}

.alert{
    width: 20%;
    height: 20vh;
    padding: 5%;
    color: whitesmoke;
    display: flex;
    align-items: center;
    color: black;
    font-weight: 800;
    border: white solid 1px;
    justify-content: center;
}

.title-grafico {
    color: white;
    font-size: 28px;
    font-weight: 600;
    margin-top: 10%;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.forms-cadastro {
    width: 60%;
    height: 100%;
    background-color: #131313;
}

.in-form-cad {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 10%;
    padding-left: 3%;
    width: 80%;
    height: 35px;
    border-radius: 5px;
    border: 2px solid #B02CE8;
}

.txt-form-cad {
    color: white;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin-left: 10%;
    margin-bottom: 5%;
}

#termos {
    color: white;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin-left: 2%;
}

#link-cad {
    color: white;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #2178B3;
}

#box-termos-cad {
    margin-left: 10%;
}

.container-btn {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 3%;
}